* {
    padding: 0px;
    margin: 0px;
}

.centro {
    background: #333;
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

.topo {
    width: 100%; 
    height: 20%; 
    background: #f00;
    display: flex;
}
@media screen and (min-width: 375px) and (max-width: 812px){
    .centro {
        width: 100%;
    }
    .topo {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 568px) {
    .centro {
        width: 100%;
    }
    .topo {
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }
}
@media screen and (min-width: 400px) and (max-width: 582px) {
  .centro {
    width: 100%;
    background-color: cadetblue;
  }
  .topo {
    background-color: aqua;
    color: silver;
    justify-content: baseline;
  }
}